//imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

//color themes
// Primary
$veryDarkBlue: hsl(233, 47%, 7%); //Background
$darkDesaturatedBlue: hsl(244, 38%, 16%); // card background
$softViolet: hsl(277, 64%, 61%); // accent

// Neutral
$white: hsl(0, 0%, 100%); // main heading <h1>
$transparentWhite: hsla(0, 0%, 100%, 0.75); // main paragraph


body {
    background: $veryDarkBlue;

    .container {
        display: flex;
        justify-content: center;

    }
    .content {
        background: #3f0066ad;
        width: 65vw;
        height: 53vh;
        position: absolute;
        border-radius: 10px 10px 10px 10px;
        top: 25vh;
        display: flex;
        //max & min
        max-width: 85vw;
        min-width: 65vw;
        max-height: 53vh;
        min-height: 53vh;
    }
    .leftContent {
        padding: 40px 70px 60px 70px;
        h1 {
            font-family: 'Inter', sans-serif;
            color:$white;
        }

        p {
            font-family: 'Inter', sans-serif;
            color: $transparentWhite;
            line-height: 1.7;
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }

    .image {
        height: 100%;
        display: flex;
        img {
            z-index: -1;
            border-radius: 0px 10px 10px 0px;
        }
    }

    .lowerStats {
        font-size: 14px;
    }

    .left {
        background: hsl(244, 38%, 16%);
        border-radius: 10px 0px 0px 10px;
        .lowerContainer {
            display: flex;
            justify-content: space-between;
        }

    }
    .right {

    }

    h1 {
        .purp {
            color: $softViolet;
        }
    }
    .stat {
        h1 {
            margin-block-end: 0;
        }
    }
}

//Mobile and Tablet styling.

@media (min-width: 280px) and (max-width: 415px) {
    body {
        .content {
            width: 88vw;
            border-radius: 10px 10px 10px 10px;
            position: unset;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            max-width: 88vw;
            min-width: 88vw;
            flex-direction: column;
            top: 3vh;
        }
        .left {
            order: 2;
            border-radius: 0px 0px 10px 10px;
            .lowerContainer{
                flex-direction: column;
            }
        }
        .right {
            order: 1;
        }
        .leftContent {
            padding: 20px 35px 10px 35px;
            h1 {
                font-family: 'Inter', sans-serif;
                text-align: center;
                color: white;
                font-size: 28px;
            }
            p {
                text-align: center;
            }
        }
        .lowerStats {
            padding-top: 0;
        }
        .image {
            img {
                width: 100%;
                border-radius: 10px 10px 0px 0px;
            }
        }
    }
}

@media (min-width: 540px) and (max-width: 1025px) {
    body {
        .content {
            border-radius: 10px 10px 10px 10px;
            position: absolute;
            top: 15%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
        }
        .left {
            order: 2;
            border-radius: 0px 0px 10px 10px;
            .lowerContainer{
                flex-direction: column;
            }
        }
        .right {
            order: 1;
        }
        .leftContent {
            padding: 20px 35px 10px 35px;
            h1 {
                font-family: 'Inter', sans-serif;
                text-align: center;
                color: white;
                font-size: 28px;
            }
            p {
                text-align: center;
            }
        }
        .lowerStats {
            padding-top: 0;
        }
        .image {
            img {
                width: 100%;
                border-radius: 10px 10px 0px 0px;
            }
        }
    }
}