@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body {
  background: #090b1a;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content {
  background: #3f0066ad;
  width: 65vw;
  height: 53vh;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  top: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 85vw;
  min-width: 65vw;
  max-height: 53vh;
  min-height: 53vh;
}

body .leftContent {
  padding: 40px 70px 60px 70px;
}

body .leftContent h1 {
  font-family: 'Inter', sans-serif;
  color: white;
}

body .leftContent p {
  font-family: 'Inter', sans-serif;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.7;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body .image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .image img {
  z-index: -1;
  border-radius: 0px 10px 10px 0px;
}

body .lowerStats {
  font-size: 14px;
}

body .left {
  background: #1b1938;
  border-radius: 10px 0px 0px 10px;
}

body .left .lowerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body h1 .purp {
  color: #aa5cdb;
}

body .stat h1 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

@media (min-width: 280px) and (max-width: 415px) {
  body .content {
    width: 88vw;
    border-radius: 10px 10px 10px 10px;
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 88vw;
    min-width: 88vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 3vh;
  }
  body .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-radius: 0px 0px 10px 10px;
  }
  body .left .lowerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .leftContent {
    padding: 20px 35px 10px 35px;
  }
  body .leftContent h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
  }
  body .leftContent p {
    text-align: center;
  }
  body .lowerStats {
    padding-top: 0;
  }
  body .image img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
}

@media (min-width: 540px) and (max-width: 1025px) {
  body .content {
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-radius: 0px 0px 10px 10px;
  }
  body .left .lowerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .leftContent {
    padding: 20px 35px 10px 35px;
  }
  body .leftContent h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
  }
  body .leftContent p {
    text-align: center;
  }
  body .lowerStats {
    padding-top: 0;
  }
  body .image img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
}
/*# sourceMappingURL=style.css.map */